
*{
	
	font-family: montserrat;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.banner{
	padding: 100px ;
	
    height: 100vh;
    width: 100%;
    background: url(images/backgg.png);
    background-repeat: no-repeat;
}
.heading{
	position: absolute;
	top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main_heading{
	font-family: 'Poppins', cursive;
	font-size: 45pt;
	color: #023246;
	line-height: 80px;
    align-items: center;
    text-align: center;	
}

span{
    color: #111;
    font-family: 'Poppins'
}
.skills{
    text-align: center;
	color: grey;
	font-family: 'Bebas Neue';
	font-size: 21pt;
}
.contactBtn{
	margin-left: 160px;
}
.heading .btn{
	margin-top: 30px;
	padding: 10px 30px;
	background-color: #287094;
	border-style: none;
	border-radius: 10px;
	color: white;
    outline: none;


}
header{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	padding: 20px 100px ;
	z-index: 100;
	justify-content: space-between;
	
	display: flex;
	align-items: center;	

}
p{
	font-family: Montserrat light;
	font-size: 15pt;
}
header .logo{
	color:#023246 ;
	font-size: 30px;
	font-family: Brandon Grotesque;
	line-height: 35px;
}
header .menu {
	display: flex;
	position: relative;
    
}
header .menu li{
	list-style: none;
	margin-left: 30px;
}
header .menu li a{
	text-decoration: none;
	color: #023246;
	font-family:  montserrat;
}
header .menu li a:hover{
	color: #000;
	 font-family: montserrat;
}
header.sticky{
	padding: 5px 100px;
	background-color:#023246;
}
header.sticky .menu li a{
	color:#fff;
	font-family: montserrat;
}
header.sticky .logo{
    color: #fff;
}

#bars{
	display: none;
}
.projects{
	
	background: #fff;
    min-height: 100vh;
    width: 100%;
}

.pro_title{
	padding-top: 100px;
	
	color:#023246;
	font-size:40pt;
	font-family: "Poppins";
	text-align: center;

}


.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	margin:50px;
	flex-wrap: wrap;
}
.image_box{
	position: relative;
	
}
.image{
	
	height: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.click{
	margin-right: 1px;
}
.container .card{
	position: relative;
	margin:20px;
	width: 300px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}
a{
	
	color: grey;
}
.Btn{
	text-decoration: none;
	color: white;
}
.container .card .content{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.text{
	transition: 0.5s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	opacity: 0;
}
.image:hover{
   opacity: 0;
}
.content:hover .text{
	opacity: 1;
}
.text {
  background-color: #023246;

  color: white;
  width: 335px;
  height: 154px;
  font-size: 16px;
 text-align: center;
 padding-top:50px;

}
#contact{
		background: #023246;
		height: 250px;
		width: 100%;
}
.contacts{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact_info{
	margin-top: 55px;
	margin-right: 100px;
	line-height: 30px;

}
.contact_info p{
	color: #fff;

}
.social p{
	color: #fff;
}
@media(max-width: 991px){
	.main_heading{
		font-size: 35pt;
		line-height: 50px;
	}
    header,header.sticky{
    	padding: 10px 20px;
    }
    header .menu{
    	display: none;
    }

    header .menu.active{
    	width: 100%;
    	height: 100%;
    	position: fixed;
    	top: 50px;
    	left: 0;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	background-color: grey;
    	flex-direction: column;
    	transition: all 0.5s;
    }
    header .menu li a{
    	font-size: 1.6em;
    	font-family: montserrat;
    }
    #bars{
    	display: block;
    }
    .menuToggle{

    	position: relative;
    	font-size: 30px;
    	color: #111;
    }
    .menuToggle.active{
    	background:url(cancel.png);
    	height: 20px;
    	width: 20px;
    	font-size: 0px;
    	background-position: center;
    }
    



}